%h1 Listing encoding_jobs
%table
  %tr
    %th Video
    %th File Name

  - @encoding_jobs.each do |encoding_job|
    %tr
      %td= jw_player(encoding_job.video.url, :width => 400, :height => 400)
      %td= encoding_job.video_file_name
%br

= link_to 'New Encoding job', new_encoding_job_path
